<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <!-- Morris -->
    <link th:href="@{/css/plugins/morris/morris-0.4.3.min.css}" rel="stylesheet">
</head>
<body class="gray-bg">

<div class="row">
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-inline" th:action="@{/project/addSubpackageP}">
                    <div class="form-group">
                        <label for="projectCode">项目编码:</label>
                        <input type="text" class="form-control" id="projectCode" name="projectCode" placeholder="项目编码">
                    </div>
                    <div class="form-group">
                        <label for="corpCode">统一社会信用代码</label>
                        <input class="form-control" id="corpCode" name="corpCode" placeholder="统一社会信用代码"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label class="exampleInputName2">企业名称：</label>
                        <div class="col-sm-10">
                            <input type="text" id="corpName" name="corpName" placeholder="企业名称"
                                   class="laydate-icon form-control layer-date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="corpType">建筑类型</label>
                        <select class="form-control" id="corpType" name="corpType">
                            <option value="001">专业分包</option>
                            <option value="002">设备分包</option>
                            <option value="003">材料分包</option>
                            <option value="004">后勤服务</option>
                            <option value="005">特殊设备</option>
                            <option value="006">劳务分包</option>
                            <option value="007">监理</option>
                            <option value="008">建设单位</option>
                            <option value="009">总承包单位</option>
                            <option value="010">勘察</option>
                            <option value="011">设计单位</option>
                            <option value="012">其它</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="entryTime">进场时间:</label>
                        <input class="form-control" id="entryTime" name="entryTime" placeholder="进场时间"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="exitTime">退场时间:</label>
                        <input class="form-control" id="exitTime" name="exitTime" placeholder="退场时间"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="pmName">项目经理名称:</label>
                        <input class="form-control" id="pmName" name="pmName" placeholder="项目经理名称"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="pmIDCardType">项目经理证件类型</label>
                        <select class="form-control" id="pmIDCardType" name="pmIDCardType">
                            <option value="01">居民身份证</option>
                            <option value="02">军官证</option>
                            <option value="03">武警警官证</option>
                            <option value="04">士兵证</option>
                            <option value="05">军队离退休干部证</option>
                            <option value="06">残疾人证</option>
                            <option value="07">残疾军人证（1-8 级）</option>
                            <option value="08">护照</option>
                            <option value="09">港澳同胞回乡证</option>
                            <option value="10">港澳居民来往内地通行证</option>
                            <option value="11">中华人民共和国往来港澳通行证</option>
                            <option value="12">台湾居民来往大陆通行证</option>
                            <option value="13">大陆居民往来台湾通行证</option>
                            <option value="14">外交官证</option>
                            <option value="15">领事馆证</option>
                            <option value="16">海员证</option>
                            <option value="17">香港身份证</option>
                            <option value="18">台湾身份证</option>
                            <option value="19">澳门身份证</option>
                            <option value="20">外国人身份证件</option>
                            <option value="21">高校毕业生自主创业证</option>
                            <option value="22">就业失业登记证</option>
                            <option value="23">台胞证</option>
                            <option value="24">退休证</option>
                            <option value="25">离休证</option>
                            <option value="99">其它证件</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pmIDCardNumber">项目经理证件号码:</label>
                        <input class="form-control" id="pmIDCardNumber" name="pmIDCardNumber" placeholder="项目经理证件号码"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="pmPhone">项目经理电话:</label>
                        <input type="text" class="form-control" id="pmPhone" name="pmPhone" placeholder="项目经理电话">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">保存内容</button>
                        <button class="btn btn-white" type="submit">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
<!-- layerDate plugin javascript -->
<script th:src="@{/js/plugins/layer/laydate/laydate.js}"></script>
<script>
        //外部js调用
        laydate({
            elem: '#hello', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });
        date(start);
        laydate(end);

</script>
</body>

</html>
