<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}">
</head>
<body>
<body class="gray-bg">
<div class="row">
    <div class="col-sm-6">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">员工管理</a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">离职人员</a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">黑名单</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">

                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <strong>移动设备优先</strong>
                        <p>在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3
                            中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap
                            是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。</p>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <strong>移动设备优先</strong>
                        <p>在 Bootstrap 2 中，我们对框架中的某些关键部分增加了对移动设备友好的样式。而在 Bootstrap 3
                            中，我们重写了整个框架，使其一开始就是对移动设备友好的。这次不是简单的增加一些可选的针对移动设备的样式，而是直接融合进了框架的内核中。也就是说，Bootstrap
                            是移动设备优先的。针对移动设备的样式融合进了框架的每个角落，而不是增加一个额外的文件。</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- 全局js -->
    <script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
    <!-- 自定义js -->
    <script th:src="@{/js/content.js?v=1.0.0}"></script>


    <!-- Bootstrap table -->
    <script th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
    <script th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/js/demo/bootstrap-table-demo.js}"></script>

    <!-- layer javascript -->
    <script th:src="@{/js/plugins/layer/layer.min.js}"></script>
    <script>
$(document).ready(function(){
    $("#parentIframe").click(function(){
        //iframe层-父子操作
        layer.open({
          type: 2,
          title: '添加',
          area: ['600px', '550px'],
          fixed: false, //不固定
          maxmin: true,
          content: '/project/addSubpackage'
        });
    });
});



    </script>
</body>

</html>