<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/plugins/bootstrap-table/bootstrap-table.min.css}">
</head>
<body class="gray-bg">
<div class="col-sm-12">
    <!-- Example Events -->
    <div class="example-wrap">
        <div class="example">
            <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group">
                <button class="btn btn-outline btn-default" id="parentIframe" type="button">
                    <i aria-hidden="true" class="glyphicon glyphicon-plus"></i>添加
                </button>
                <button class="btn btn-outline btn-default" type="button">
                    <i aria-hidden="true" class="glyphicon glyphicon-edit"></i>编辑
                </button>
                <button class="btn btn-outline btn-default" type="button">
                    <i aria-hidden="true" class="glyphicon glyphicon-trash"></i>删除
                </button>
            </div>
            <table data-height="400" data-mobile-responsive="true" id="exampleTableEvents">
                <thead>
                <tr>
                    <th data-checkbox="true" data-field="state"></th>
                    <th data-field="id">id</th>
                    <th data-field="teamName">班组名称</th>
                    <th data-field="responsiblePersonName">班组所在企业负责人名称</th>
                    <th data-field="responsiblePersonPhone">负责人电话</th>
                    <th data-field="responsiblePersonIDCardType">负责人证件类型</th>
                    <th data-field="responsiblePersonIDNumber">负责人证件号码</th>
                    <th data-field="entryTime">进场日期</th>
                    <th data-field="exitTime">退场日期</th>
                    <th data-field="entryAttachments">进场附件</th>
                    <th data-field="exitAttachments">退场附件</th>
                    <th data-field="remark">备注</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- End Example Events -->
</div>

<!-- 全局js -->
<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<!-- 自定义js -->
<script th:src="@{/js/content.js?v=1.0.0}"></script>


<!-- Bootstrap table -->
<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
<script th:src="@{/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
<script th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>

<!-- layer javascript -->
<script th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script>
        $(document).ready(function(){
            $("#parentIframe").click(function(){
                //iframe层-父子操作
                layer.open({
                  type: 2,
                  title: '添加',
                  area: ['600px', '550px'],
                  fixed: false, //不固定
                  maxmin: true,
                  content: '/people/add'
                });
            });
        });

</script>
<script>
        (function(document, window, $) {
          'use strict';
          (function() {
            var bt_data = [];
          })();
          (function() {
            $('#exampleTableEvents').bootstrapTable({
              url: "/people/getAllTeam",
              search : false, //显示搜索框
              clickToSelect : true, //是否启用点击选中行
              pagination: true,
              showRefresh: true,
              showToggle: true,
              showColumns: true,
              showExport : true,
              exportDataType : "basic", //basic', 'all', 'selected'.
              iconSize: 'outline',
              cardView : false,
              smartDisplay : true,
              uniqueId : "id", //每一行的唯一标识，一般为主键列
              toolbar: '#exampleTableEventsToolbar',
              icons: {
                refresh: 'glyphicon-repeat',
                toggle: 'glyphicon-list-alt',
                columns: 'glyphicon-list'
              }
            });

            var $result = $('#examplebtTableEventsResult');

            $('#exampleTableEvents').on('check.bs.table', function(e, name, args) {
<!--                alert(name.id);-->
              });
          })();
        })(document, window, jQuery);

</script>
</body>

</html>