<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link th:href="@{/js/plugins/gritter/jquery.gritter.css}" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">H+</h1>
        </div>
        <h3>欢迎使用 劳务实名制管理系统</h3>

        <form class="form-horizontal m-t" id="signupForm" th:action="@{/indexs}">
            <div class="form-group">
                <input aria-invalid="true" aria-required="true" class="form-control" id="username" name="username"
                       placeholder="账号" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" id="password" name="password" placeholder="密码" required="" type="password">
            </div>
            <button class="btn btn-primary block full-width m-b" type="submit">登 录</button>
        </form>
    </div>
</div>

<!-- 全局js -->
<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>

<!-- 自定义js -->
<script th:src="@{/js/content.js?v=1.0.0}"></script>

<!-- jQuery Validation plugin javascript-->
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>

<script th:src="@{/js/demo/form-validate-demo.js}"></script>
<!-- GITTER -->
<script th:src="@{/js/plugins/gritter/jquery.gritter.min.js}"></script>
<script>
    $.validator.setDefaults({
        submitHandler: function() {
        $.post("/indexs", $('form').serializeArray(),
        function(data){
            if(data == "登陆成功"){
                $(location).attr('href', '/index');
            }else{
                $.gritter.add({
                    title: '提示',
                    text: '<p class="text-center"><h1>'+data+'</h1></p>',
                    time: 10000
                });
            }
    });

         }
    });

</script>
</body>

</html>
